; {{ ansible_managed }}
; Bind zonefile

$TTL    86400
@       IN      SOA     {{ bind_zone }}. root.{{ bind_zone }}. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                          86400 )       ; Negative Cache TTL
;
@       IN      NS      {{ bind_zone }}.
@       IN      A       {{ ansible_default_ipv4.address }}

{% for record in bind_records | default([]) %}
{{ record.name }}	IN 	{{ record.type }}	{{ record.record }}
{% endfor %}
